/*-------------------------
    BANNER IMAGE STYLES 
 ------------------------*/

.banner-wrapper {
  position: relative;
  padding-bottom: 60%;
  height: 0;
}
.hero {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('./images/marvel-comic-hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}

.hero h5 {
  margin-left: 10px;
  bottom: 0;
  width: 50%;
  position: absolute;
  text-decoration: none;
  background: #ffffff;
  padding: 0.5em;
  font-size: calc(1vw + 1vh + 3vmin);
  line-height: calc(1vw + 1vh + 2.5vmin);
  color: #e23636;
  text-transform: uppercase;
}
