/*-------------------------------
        UNIVERSAL STYLINGS
-------------------------------*/

.App {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
}

ul {
  list-style-type: none;
}

/*  NEED TO REFACTOR THESE CSS STYLES FROM APP.js */

.search-images {
  cursor: pointer;
  width: 30%;
}

.search-images::focus {
  box-shadow: inset 0px 0px 4px red;
}
