/*-------------------------------
        UNIVERSAL STYLINGS
-------------------------------*/

.App {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
}

ul {
  list-style-type: none;
}
