/*-------------------------
     COMIC CARD STYLES 
 ------------------------*/

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;
}

.card-comics {
  background-color: #e23636;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 300px;
  min-height: 680px;
}

.card__title {
  font-size: 1.25rem;
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 0.5rem;
  color: #ffffff;
}

.card__text {
  flex: 1 1 auto;
  margin-top: -5px;
}

/*-------------------------
    SEARCH FORM STYLES 
 ------------------------*/

.search-form {
  background-color: #e23636;
  margin: 0 auto;
  width: 70%;
}

.search-form-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.search-input {
  font-family: 'Bangers', cursive;
  font-size: 1.8em;
  color: #e23636;
  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 2 0 250px;
  margin-right: 10px;
  padding-left: 10px;
}

.send-button {
  font-family: 'Bangers', cursive;
  font-size: 1.5em;
  flex: 1 0 90px;
  cursor: pointer;
  margin-right: 40px;
  background-color: #ffffff;
  border: none;
  color: #e23636;
  padding: 14px;
  text-transform: uppercase;
}

@media screen and (max-width: 450px) and (min-width: 0px) {
  .search-form-container {
    flex-direction: column;
  }
  .search-input {
    flex: 1 0 50px;
    margin-right: 40px;
  }
  .send-button {
    float: right;
    font-size: 1.2em;
    flex: 1 0 50px;
    margin-top: 20px;
  }
}

/*-------------------------
      LOADING STYLES 
 ------------------------*/

.loading-container {
  margin-top: 50px;
}

.loading-wrapper {
  margin: 0 auto;
  width: 70%;
}

.loading-text {
  font-family: 'Bangers', cursive;
  color: #e23636;
  font-size: 3em;
  text-align: left;
  margin-left: 20px;
}

span[class^='dot-'] {
  opacity: 0;
}
.dot-one {
  animation: dot-one 2s infinite linear;
}
.dot-two {
  animation: dot-two 2s infinite linear;
}
.dot-three {
  animation: dot-three 2s infinite linear;
}
@keyframes dot-one {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dot-two {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dot-three {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 650px) {
  .loading-thanos {
    width: 400px;
    height: 400px;
  }

  .loading-text {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 420px) {
  .loading-thanos {
    width: 300px;
    height: 300px;
  }
}
